<h1>Reports</h1>

<nav>
    <h4><%= link_to "Customers", report_custlist_url %></h4>
    <h4><%= link_to "Boots", report_bootlist_url %></h4>
    <h4><%= link_to "Blades", report_bladelist_url %></h4>
    <h4><%= link_to "Sales", report_salelist_url %></h4>
</nav>