<h1>My Sales!</h1>
<table>  
<tr>
    <th>Boot</th>
    <th>Blade</th>
    <th>Cost</th>
</tr>

<% @salelist .each do |s| %>

<tr>
    <td><%= s.boot %></td>
    <td><%= s.blade %></td>
    <td><%= s.cost %></td>
</tr>
<% end %>

</table>