/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: lightgray;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

table {
    margin: 0 auto;
}


h3 {
    width:10%;
    text-align: center;
    border: 0.1em solid black;
    font-size: 1em;
    margin-left:0.05em;
    background-color:lightblue;
    margin-top:0.2em;
    height:2em;
    padding-top:0.4em;
    margin-bottom:-0.1em;
    flex: 1 1 10%;
}

tr {
    text-align: center;
}

a:visited{
    color:black;
}

a:hover {
    color:white;
}


header {
    display:flex;
    flex-flow: row wrap;
    background-color:lightblue;
    justify-content: space-between
}

figure {
    width:100%;
}

header>h1 {
    width:100%;
    font-size:3em;
}

h1 {
    width:100%;
    text-align: center;
}

h2 {
    width:10%;
    font-size:1em;
    margin:1em;
    }

h4 {
    width:20%;
    text-align: center;
}

.promotions {
    width:100%;
    display: flex;
    flex-flow: row wrap;
} 

.promotions>p {
    width:100%;
    text-align: center;
}

h6 {
    font-size: 2em;
    width:100%;
    padding-bottom: 1em;
    margin-bottom: -0.5em;
}

header>h6 {
    margin-top:-1em;
}

.promo {
    width:100%;
}

table {
    border: 0.1em solid black;
}

th {
     border: 0.1em solid black;
}

td {
     border: 0.1em solid black;
}

.prod {
    display:flex;
    flex-flow: row wrap;
}

.prod>product {
    width:25%
}