/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
    display: flex;
    flex-flow: row wrap;
}

h3 {
    width:32%;
    text-align: center;
    border: 0.1em solid black;
    font-size: 3em;
    margin-left:0.05em;
    background-color:lightblue;
    margin-top:0.2em;
    height:1em;
    padding-top:0.4em;
}

a {
    text-decoration: none;
    color:black;
}

a:visited {
    color:black;
}

header {
    display:flex;
    flex-flow: row wrap;
    background-color:lightblue;
}

figure {
    width:10%;
}

h1 {
    width: 60%;
    text-align: center;
}

h2 {
    width:10%;
    font-size:1em;
}